
<section class="about"> 
  <div class="about-container"><img src="assets/img/profilepicture.jpg" class="profile-pic"/><img src="assets/img/name.png" class="header"/>
    <p> <span class="about-lead">Ever since Bobby was young,</span> he was always ambitious about what he wanted in life and would not let 
      anyone, even his closest friends, get in his way of his goals. 
      When he started growing up in Bridgeport, Connecticut, and later in, Milford, Connecticut, he was never  
      the popular kid that everyone looked up to and liked, he was actually quite the opposite, he was  
      the shy kid that everyone would look down upon. However, later he started forming lyrics to a 
      bunch of his favorite artists' instrumentals, like Kendrick Lamar and Eminem, to name a few, to vent out about 
      how he felt about life. Then one day, his friends gave him a huge push to release his 
      first song ever titled, Rigamortis, which was a remix of Kendricks' version. Ever since then, he’s been 
      continuing to write his words down and share them to the world, hoping one day, he can cement his 
      name with the rest of the legends from the past, present, and the future of the rap community.
    </p>
    <ul class="social-icons">
      <li><a href="https://www.facebook.com/bphongc?fref=ts" target="_blank" class="social-facebook"> <i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/BPhongRaps" target="_blank" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://instagram.com/Bobby_Phong" target="_blank" class="social-instagram"><i class="fa fa-instagram"></i></a></li>
      <li> <a href="https://www.youtube.com/channel/UCz_GuQMWz4LP0gMXB84alCA" target="_blank" class="social-youtube"><i class="fa fa-youtube-play"></i></a></li>
      <li><a href="mailto:Bphongraps@gmail.com" class="social-email"><i class="fa fa-envelope"></i></a></li>
    </ul>
    <footer id="credits">
      <p>Made with <i class="fa fa-heart"> </i> by <a href="http://nicholasadamou.me/" target="_blank">Nick Adamou</a></p>
    </footer>
  </div>
</section>
<div class="video-overlay hide">
  <div class="video-container">
     
    <iframe class="music-video" width="853" height="480" src="https://www.youtube.com/embed/EN5xqCNbf9c" frameborder="0" allowfullscreen></iframe><a href="#" id="hide-cta">Close this Video</a>
  </div>
</div>