
<section class="about"> 
  <div class="about-container"><img src="assets/img/profilepicture.jpg" class="profile-pic"/><img src="assets/img/name.png" class="header"/>
    <p> <span class="about-lead">Bobby is trying to grow up,</span> but instead he spends his time playing tennis and 
      busting out rhymes with his rapping skills. He was born in Bridgeport, 
      Connecticut, and raised in the mean streets of Milford, Connecticut,
      but more importantly, he enjoys hanging out with his friends and family. 
    </p>
    <ul class="social-icons">
      <li><a href="https://www.facebook.com/bphongc?fref=ts" target="_blank" class="social-facebook"> <i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/BPhongRaps" target="_blank" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://instagram.com/Bobby_Phong" target="_blank" class="social-instagram"><i class="fa fa-instagram"></i></a></li>
      <li> <a href="https://www.youtube.com/channel/UCz_GuQMWz4LP0gMXB84alCA" target="_blank" class="social-youtube"><i class="fa fa-youtube-play"></i></a></li>
      <li><a href="mailto:Bphongraps@gmail.com" class="social-email"><i class="fa fa-envelope"></i></a></li>
    </ul>
    <footer id="credits">
      <p>Made with <i class="fa fa-heart"> </i> by <a href="https://nickadamou.github.io/index.html" target="_blank">Nick Adamou</a></p>
    </footer>
  </div>
</section>
<div class="video-overlay hide">
  <div class="video-container">
     
    <iframe class="music-video" width="853" height="480" src="https://www.youtube.com/embed/EN5xqCNbf9c" frameborder="0" allowfullscreen></iframe><a href="#" id="hide-cta">Close this Video</a>
  </div>
</div>